$primary: #07183b;
$secondary: #091f4c;
$accent: #4f82c1;
$accent-2: #0f2d69;

$dark: #05122d;
$positive: #22c55e;
$negative: #ef4444;
$info: #123a8c;
$warning: #facc15;

$grey-1: #f2f2f4;
$orange-accent: #f36711;
